*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.734);
}

.bg-image{
    background-image: url("netflix_bg.jpg");
    background-size: cover;
    height: 712px;
}

.overlay{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    height: 712px;
}

.header{
    display: flex;
    justify-content: center;
}
.navbar{
    height: 80px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65);
    
}

.logo{
    font-size: 3rem;
    width: 70%;
    color: red;
    font-weight: 900;
}

.selector{
    border: 0.5px solid white;
    color: white;
    background-color: rgba(27, 24, 24, 0.653);
    padding: 8px 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lang{
    padding-left: 6px;
}

.sign-in{
    background-color: #E50914;
    color: white;
    padding: 4px 16px;
    border: none;
    border-radius: 3px;
    height: 36px;
    margin-left:-25px
}

.text{
    margin-top: 234px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.bg-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.h1-text{
    font-size: 48px;
    font-weight: 900;
}

.p-text{
    font-size: 24px;
    margin: 16px 0px 0px;
}

.h3-text{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box2-parent{
    display: flex;
    justify-content: center;
    text-align: center;
}


input{
    border: 0.5px solid white;
    border-radius: 6px;
    padding: 14px 11px ;
    width: 300px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.631);
    color: white;

}

.btn{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 7px 11px ;
    border: none;
    border-radius: 6px;
    width: 150px;
    margin-right: 10px;
    background-color:#E50914;
    color: white;
}

/*----section2--------*/
.section2{
    background-color: black;
    padding: 4.5rem 0;
    margin-top: 8px;
    height: 600px;
    color: white;
}

.box1_sec2{
    width: 50%;
}

.sec2-box1-text-h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

.h2-heading{
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
}

.sec2-box1-text-para{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sec2-box1-p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 16px 0px 0px;
    text-align: left;
}

.sec2-box2 img{
    position: relative;
    height: 400px;
    margin: 50px;
}


/* ------- section3---------*/
.section3{
    background-color: black;
    padding: 4.5rem 0;
    margin-top: 8px;
    height: 600px;
    color: white;
}


/* ------- Footer---------*/
footer{
    background-color: black;
    padding: 4.5rem 0;
    margin-top: 8px;
    height: 400px;
}

.footer-first{
    display: flex;
    justify-content: start;
    text-align: left;
    color: white;
    margin-left: 280px;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.footer-links{
    display: flex;
    justify-content: center;
    text-align: left;
}

li{
    list-style-type: none;
    margin-bottom: 15px;
}
ul li a{
    color: white;
    padding: 100px;    
    
}

.footer-selector{
    border: 0.5px solid white;
    color: white;
    background-color: rgba(27, 24, 24, 0.653);
    /* height: 22px; */
    padding: 8px 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-left: 282px;
    margin-top: 15px;
}

.footer-third{
    color: white;
    margin-left: 277px;
    margin-top: 15px;
}

/* ------Media Queries -----*/

@media (min-width:250px) and (max-width:400px) {
    .bg-image{
        height: 600px;
    }
    .overlay{
         height: 600px;
    }

    .navbar{
        width: 100%;
        padding: 0px 10px;
    }

    .logo{
        font-size: 30px;
        width: 60%;
    }

    .selector{
        padding: 8px 15px;
    }

    .lang{
        display: none;
    }

    .sign-in{
        padding: 4px 16px;
        height: 36px;
        margin-left:8px
    }

    .bg-text{
        margin: 0px 10px;
    }

    .text{
        margin-top: 100px;
    }

    .h1-text{
        font-size: 30px;
        font-weight: 700;
    }
    
    .p-text{
        font-size: 17px;
        font-weight: 500;
    }

    .input{
        margin: 15px 0px;
    }

    input{
        width: 80%;
    }
    .btn{
        margin-top: 5px;
    }

    .box2-parent{
        display: flex;
        flex-direction: column;
    }

    /* -- sec2----*/
    .section2{
        height: 500px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    td{
       display: flex;
       flex-direction: column;
    }

    .box1_sec2{
        width: 100%;
    }
    .sec2-box1-text{
        padding: 0px 10px;
    }

    .h2-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }

    .sec2-box1-p{
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .sec2-box2 img{
        height: 200px;
        margin: 35px;
    }

    /* -- sec3----*/
    .section3{
        height: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    /* -- Footer----*/
    footer{
        height: 700px;
    }

    .footer-links{
        display: inline;
    }

    .footer-first{
        display: flex;
        justify-content: start;
        text-align: left;
        margin-left: 50px;
    }

    .footer-selector{
        padding: 8px 0px;
        width: 30%;
        margin-left: 50px;
    }

    .foot-lang{
        margin-left: 7px;
    }

    .footer-third{
        color: white;
        margin-left: 50px;
        margin-top: 15px;
    }
}

@media (min-width:401px) and (max-width:700px) {
    .navbar{
        width: 100%;
        padding: 0px 25px;
    }

    .logo{
        font-size: 30px;
        width: 60%;
    }
    .selector{
        padding: 8px 30px;
    }

    .lang{
        display: none;
    }
    .sign-in{
        padding: 4px 20px;
        height: 36px;
        margin-left:3px
    }

    .text{
        margin-top: 100px;
    }
    .bg-text{
        margin: 0px 15px;
    }

    .h1-text{
        font-weight: 700;
    }

    .box2-parent{
        display: flex;
        flex-direction: column;
    }
    
    .input{
        margin: 15px 0px;
    }

    .btn{
        margin-top: 5px;
    }

    /* --- sec2 -----*/
    .section2{
        height: 500px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    td{
       display: flex;
       flex-direction: column;
    }

    .box1_sec2{
        width: 100%;
    }
    .sec2-box1-text{
        padding: 0px 10px;
    }

    .h2-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }

    .sec2-box1-p{
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .sec2-box2 img{
        height: 200px;
        margin: 35px;
    }

    /* -- sec3----*/
    .section3{
        height: 500px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .bg-image{
        height: 600px;
    }
    .overlay{
         height: 600px;
    }

    footer{
        height: 560px;
    }
    .footer-links{
        display: inline;
    }

    .ul-list{
        display: flex;
    }

    ul li a{
        padding: 30px;    
    }

    .footer-first{
        display: inline;
        text-align: left;
        margin-left: 50px;
    }

    .footer-second{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .footer-selector{
        padding: 8px 0px;
        width: 20%;
        margin-left: 50px;
        display: flex;
        justify-content: center;
    }

    i{
        visibility: visible;
    }
    .foot-lang{
        margin-left: 7px;
    }

    .footer-third{
        color: white;
        margin-left: 50px;
        margin-top: 15px;
    }
    
}

@media (min-width:701px) and (max-width:900px) {
    .navbar{
        width: 100%;
        padding: 0px 25px;
    }

    .logo{
        font-size: 30px;
        width: 60%;
    }
    .selector{
        padding: 8px 20px;
    }
     
    .sign-in{
        padding: 4px 30px;
        height: 36px;
        margin-left:-10px
    }

    .bg-text{
        margin: 0px 15px;
    }

    .box2-parent{
        margin: 15px 0px;
    }

    /* --- sec2 -----*/
    .section2{
        height: 500px;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    td{
       display: flex;
       flex-direction: column;
    }

    .box1_sec2{
        width: 100%;
    }
    .sec2-box1-text{
        padding: 0px 10px;
    }

    .h2-heading{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }

    .sec2-box1-p{
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
    }

    .sec2-box2 img{
        height: 200px;
        margin: 35px;
    }

    /* -- sec3----*/
    .section3{
        height: 500px;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    /* --------Footer -------------*/
    footer{
        height: 400px;
    }
    .footer-links{
        display: flex;
        justify-content: center;
    }

    .ul-list{
        display: flex;
    }

    ul li a{
        padding: 30px;    
    }

    .footer-first{
        display: inline;
        text-align: left;
        margin-left: 50px;
    }

    .footer-second{
        margin-top: 10px;
    }

    .footer-selector{
        padding: 8px 0px;
        width: 10%;
        margin-left: 50px;
        display: flex;
        justify-content: center;
    }

    i{
        visibility: visible;
    }
    .foot-lang{
        margin-left: 7px;
    }

    .footer-third{
        color: white;
        margin-left: 50px;
        margin-top: 15px;
    }
}

@media (min-width:901px) and (max-width:1278px) {
    .navbar{
        width: 100%;
        padding: 0px 25px;
    }

    .logo{
        font-size: 30px;
        width: 60%;
    }
    .selector{
        padding: 8px 20px;
    }
     
    .sign-in{
        padding: 4px 30px;
        height: 36px;
        margin-left:-40px
    }

    .box2-parent{
        margin: 15px 0px;
    }
    
    /* --- sec2 ----*/
    .section2{
        height: 500px;
        margin-top: 8px;
        display: flex;
       flex-direction: row;
       justify-content: center;
        text-align: center;
    }

    .sec2-box2 img{
        height: 300px;
        margin: 35px;
    }

    .section3{
        height: 500px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    footer{
        height: 400px;
    }
    .footer-links{
        display: flex;
        justify-content: center;
    }

    .ul-list{
        display: flex;
    }

    ul li a{
        padding: 30px;    
    }

    .footer-first{
        display: inline;
        text-align: left;
        margin-left: 200px;
    }

    .footer-second{
        margin-top: 10px;
    }

    .footer-selector{
        padding: 8px 0px;
        width: 10%;
        margin-left: 200px;
        display: flex;
        justify-content: center;
    }

    i{
        visibility: visible;
    }
    .foot-lang{
        margin-left: 7px;
    }

    .footer-third{
        color: white;
        margin-left: 200px;
        margin-top: 15px;
    }
}

@media (min-width:1279px){
    footer{
        height: 400px;
    }

    .ul-list{
        display: flex;
    }

    ul li a{
        padding: 40px;    
    }
    .foot-lang{
        margin-left: 7px;
    }

}
